$breakpoint-l: 1024px;

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 25px;
  @media (min-width: $breakpoint-l) {
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto;
  }
}

.global {
  &__input-group {
    margin-top: 20px;
  }
  &__label {
    color: #bdbdbd;
  }
}

.settings {
  display: flex;
  flex-flow: column nowrap;
}

.settings__input {
  width: 100%;
  &--color {
    &__preview {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.preview {
  &__add-btn {
    display: block;
    margin-top: 30px;
  }
  &__code {
    margin-top: 30px;
    pre {
      background: #333;
      color: lime;
    }
  }
}

.shimmers {
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;  
}

.shimmer {
  cursor: pointer;
  transition: 200ms;
  &:hover {
    outline: 1px rgb(63, 81, 181) dashed;
    transform: scale(1.05);
    transition: 200ms;
  }
}

.help-btn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 2;
}

.remove-shimmer-btn {
  display: block;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
